<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Account</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<main>
    <h1>Create Account</h1>
    <form id="login_form" action="#" method="POST">
        <input type="text" name="username" placeholder="username" id="username"><br>
        <input type="password" name="password" placeholder="password" id="password"><br>

        <input type="submit" value="Create Account">
    </form>
</main>
</body>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const loginForm = document.forms.login_form;

    loginForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const form = document.getElementById("login_form");
        const formData = new FormData(form);

        const username = formData.get("username");
        const password = formData.get("password");

        await sendLogin(username, password);
    });

    async function sendLogin(username, password) {
        const formData = new FormData();
        formData.append("username", username);
        formData.append("password", password);

        const response = await fetch("/api_create_user", {
            method: "POST",
            body: formData,
        });

        const data = await response.json();
        console.log(data);

        if (data.success) {
            window.location.href = "/login"; // redirect manually
        } else {
            alert("user creation failed: " + data.message);
        }
    }
});



</script>
</html>