<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task Planner</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
<main>
    <h1>Tasks</h1>
    <div class="task-controls">
        <div class="task-links">
            <p>Links:</p>
            <a href="/get_task">get task per Title</a>
            <a href="/create_task">create task</a>
        </div>

        <div class="task-functions">
            <p>Functions:</p>
            <input type="button" value="refresh" id="refreshButton">
            <input type="button" value="order by date" id="datebutton">
            <input type="button" value="undone Tasks" id="undone">
            <input type="button" value="upcoming Tasks" id="upcoming">
            <input type="button" value="today Tasks" id="today">
            <input type="button" value="delete done Tasks" id="del_done">
        </div>
    </div>


    <br></br>
    <div id="tasks"></div>
</main>

</body>
<script src="../static/index.js" defer></script>
</html>
</html>